html {
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html ul, html li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  background-color: #0F0A15;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body .section1 {
  background-image: url("img/anhnennn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .section1 .layout-cover {
  background-color: rgba(15, 10, 21, 0.9);
}

body .section1 .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
}

body .section1 .header-menu a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

body .section1 .header-menu a:hover {
  color: #FF9F1F;
}

body .section1 .header-menu .mobile-menu-btn {
  color: white;
  display: none;
}

body .section1 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
  margin-top: 91px;
}

body .section1 .content1 img {
  width: 481px;
  margin-right: 100px;
}

body .section1 .content1 .contactUs #part1 {
  font-size: 58px;
  color: #e58f00;
  display: inline;
}

body .section1 .content1 .contactUs #part2 {
  color: white;
}

body .section1 .content1 .contactUs button {
  background-color: #FF9F1F;
  padding: 16px 30px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}

body .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px;
}

body .section2 img {
  width: 100%;
  margin-right: 32px;
}

body .section2 .aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 23px;
}

body .section2 .aboutUs span {
  font-size: 41px;
}

body .section3 {
  position: relative;
}

body .section3 .foodQuality {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 20%;
  left: 10%;
}

body .section3 .foodQuality span {
  font-size: 54px;
}

body .section3 .img-one {
  position: absolute;
  top: 0;
  right: 0;
}

body .section3 .img-two {
  position: absolute;
  left: 0;
  bottom: 4%;
}

body .section3 .img-three {
  position: absolute;
  right: 0;
  bottom: 0;
}

body .section4 {
  text-align: center;
  color: white;
  margin-top: 75px;
}

body .section4 h1 {
  display: inline-block;
  margin-bottom: 61px;
  font-size: 47px;
}

body .section5 {
  margin-top: 72px;
  background-image: url(img/anh5.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 0;
}

body .section5 .enjoyFood {
  color: white;
  text-align: center;
  font-size: 30px;
  border: 10px solid #e58f00;
  margin: auto;
  padding: 30px;
  background-color: rgba(30, 30, 36, 0.9);
}

body .section6 {
  margin-top: 75px;
}

body .section6 img {
  width: 60%;
}

body .section6 h1 {
  color: white;
  margin-bottom: 61px;
  font-size: 47px;
  text-align: center;
}

body .section6 .text {
  margin-top: 10px;
}

body .section7 {
  position: relative;
  margin-top: 147px;
  background-image: url("img/anh77.png");
  min-height: 360px;
}

body .section7 img {
  position: absolute;
  top: -99px;
  width: 36%;
}

body .section7 .bestMeal {
  position: absolute;
  top: 30%;
  right: 14%;
  color: white;
}

body .section7 .bestMeal span {
  font-size: 55px;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

body .footer img {
  margin-bottom: 25px;
}

body .footer .footer-link {
  margin-bottom: 25px;
}

body .footer .footer-link a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

body .footer .footer-link a:hover {
  color: yellow;
}

body .footer .icon-link img {
  width: 22px;
  margin-right: 14px;
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .content1 img {
    display: none;
  }
  .section3 {
    position: relative;
  }
  .section3 .foodQuality {
    top: 24% !important;
    left: 5% !important;
  }
  .section3 .img-one {
    width: 27%;
  }
  .section3 .img-two {
    width: 35%;
  }
  .section3 .img-three {
    width: 53%;
  }
  .section4 img {
    width: 88%;
  }
  .section6 .col-lg-4 {
    margin-bottom: 40px;
  }
  .section7 img {
    display: none;
  }
  .section7 .bestMeal {
    left: 10%;
  }
}

@media screen and (max-width: 739px) {
  .mobile-menu-btn {
    position: relative;
    width: 100%;
    display: block !important;
  }
  .mobile-menu-btn .list-menu {
    background-color: #595555;
    width: 90%;
    line-height: 30px;
  }
  .mobile-menu-btn .item {
    padding-left: 12px;
  }
  .mobile-menu-btn .item:hover {
    background-color: #929090;
  }
  .list-menu {
    position: absolute;
    display: none;
  }
  .header-menu__left {
    display: none;
  }
  .header-menu__right {
    display: none;
  }
  .header-menu {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 10px 20px !important;
  }
  .header-menu img {
    width: 18%;
  }
  .content1 img {
    display: none;
  }
  .contactUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactUs #part1 {
    font-size: 40px !important;
  }
  .contactUs #part2 {
    display: none;
  }
  .contactUs button {
    margin-top: 30px;
  }
  .section3 {
    position: relative;
  }
  .section3 .foodQuality {
    top: 34% !important;
    left: 5% !important;
  }
  .section3 .foodQuality span {
    font-size: 29px !important;
  }
  .section3 .foodQuality p {
    display: none;
  }
  .section3 .img-one {
    width: 27%;
  }
  .section3 .img-two {
    width: 35%;
  }
  .section3 .img-three {
    width: 53%;
  }
  .section4 img {
    width: 90%;
  }
  .section7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .section7 img {
    width: 37%;
    margin-top: 20px;
    position: static !important;
  }
  .section7 .bestMeal {
    position: static !important;
  }
  .section7 .bestMeal p {
    text-align: center;
  }
  .section7 .bestMeal span {
    font-size: 40px !important;
    text-align: center;
    display: block;
  }
  .footer img {
    width: 50%;
  }
  .footer .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */